<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhuravlenko2555dev.library">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.RegisterActivity"
            android:label="Register" />
        <activity
            android:name=".activity.LoginActivity"
            android:label="Login" />

        <!--
            <service
            android:name=".APIAsyncTask"
            android:enabled="true"
            android:exported="false" />
        -->

        <activity
            android:name=".activity.FullAddressActivity"
            android:label="Select Address">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_full_address" />
        </activity>
        <activity
            android:name=".activity.BookActivity"
            android:label="Books">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_book" />
        </activity>
        <activity android:name=".activity.SelectedBookActivity" />
        <activity android:name=".activity.SelectedBookEditionActivity" />
        <activity android:name=".activity.PrefActivity" />
        <activity
            android:name=".activity.AdministrationActivity"
            android:label="Administration" />
        <activity
            android:name=".activity.ReadersInLibraryActivity"
            android:label="Readers in library" />
        <activity android:name=".activity.ReadersInLibraryLogActivity"
            android:label="Readers in library log"/>
    </application>

</manifest>